/* App CSS */
html, body {
  height: 100%;
  margin: 0;
}

body {
  color:#601B14;
  background: rgb(254,252,252);
  background: linear-gradient(rgba(254,252,252,1) 2%, rgba(254,245,240,1) 29%, rgba(253,231,210,1) 84%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Header CSS */
.header-container {
  overflow: hidden;
  padding: 15px 10px 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; /* Align items to the start and end */
  align-items: center; /* Center items vertically */
  background-color: #C7DCBB; /* Set the background color */
}

.header-left {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.header-left img {
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px #C7DCBB; /* Add a blurred box-shadow */
}

.header-left h1 {
  font-size: 45px;
  margin-left: 30px;
  margin-top: 1rem; /* Relative margin-top */
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  margin-right: 10px;
}

.header-right button:hover {
  background-color: rgb(3, 7, 89);
  color: white;
}
